version: "3.8"

services:
  # PostgreSQL database
  postgres:
    image: postgres:15-alpine
    container_name: tribenest-postgres-dev
    restart: unless-stopped
    environment:
      - POSTGRES_USER=tribe
      - POSTGRES_PASSWORD=tribe
      - POSTGRES_DB=tribe
    volumes:
      - tribenest_postgres_dev_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks:
      - tribenest-dev-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U tribe -d tribe"]
      interval: 5s
      timeout: 5s
      retries: 5

  # Redis cache
  redis:
    image: redis:7-alpine
    container_name: tribenest-redis-dev
    restart: unless-stopped
    ports:
      - "6379:6379"
    volumes:
      - tribenest_redis_dev_data:/data
    networks:
      - tribenest-dev-network
  mailcatcher:
    image: dockage/mailcatcher:latest
    container_name: tribenest-mailcatcher-dev
    restart: unless-stopped
    ports:
      - "1025:1025"
      - "1080:1080"
    networks:
      - tribenest-dev-network

  livekit:
    image: livekit/livekit-server:latest
    command: --config /etc/livekit.yaml
    restart: unless-stopped
    ports:
      - "7880:7880"
      - "7881:7881"
      - "50000-50100:50000-50100/udp"
    volumes:
      - ./livekit/livekit.yaml:/etc/livekit.yaml
  livekit-redis:
    image: redis:7-alpine
    command: redis-server /etc/redis.conf
    restart: unless-stopped
    ports:
      - "6378:6378"
    volumes:
      - ./livekit/redis.conf:/etc/redis.conf
  egress:
    image: livekit/egress:latest
    restart: unless-stopped
    environment:
      - EGRESS_CONFIG_FILE=/etc/egress.yaml
    network_mode: "host"
    volumes:
      - ./livekit/egress.yaml:/etc/egress.yaml
    cap_add:
      - CAP_SYS_ADMIN
  ingress:
    image: livekit/ingress:latest
    restart: unless-stopped
    environment:
      - INGRESS_CONFIG_FILE=/etc/ingress.yaml
    network_mode: "host"
    volumes:
      - ./livekit/ingress.yaml:/etc/ingress.yaml

  # Minio storage
  minio:
    image: minio/minio:latest
    container_name: tribenest-minio-dev
    restart: unless-stopped
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - tribenest_minio_dev_data:/data
    networks:
      - tribenest-dev-network
    environment:
      - MINIO_ROOT_USER=tribenest
      - MINIO_ROOT_PASSWORD=tribenest
    command: server /data --console-address ":9001"

  # set up minio bucket
  minio-setup:
    image: minio/mc:latest
    container_name: minio-setup-dev
    depends_on:
      - minio
    entrypoint: >
      /bin/sh -c "
        # Wait until MinIO is responding
        until mc alias set tribenest http://tribenest-minio-dev:9000 tribenest tribenest; do
          echo 'Waiting for MinIO...';
          sleep 2;
        done;

        echo 'Connected to MinIO';

        # Only create the bucket if it doesn't exist
        if ! mc ls tribenest/tribenest > /dev/null 2>&1; then
          echo 'Bucket not found. Creating...';
          mc mb tribenest/tribenest;
          mc anonymous set download tribenest/tribenest;
          echo 'Bucket created and policy set to public';
        else
          echo 'Bucket already exists';
        fi;

        tail -f /dev/null;
      "

    networks:
      - tribenest-dev-network

volumes:
  tribenest_postgres_dev_data:
  tribenest_redis_dev_data:
  tribenest_minio_dev_data:

networks:
  tribenest-dev-network:
    driver: bridge
